<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Event:</h3>

        <form class="form new-event-form">
            <div class="form-group">
                <label for="event-name">Event Name:</label>
                <input class="form-input" type="text" id="event-name" name="event-name" />
            </div>
            <div class="form-group">
                <label for="event-date">Event Date:</label>
                <input class="form-input" type="date" id="event-date" name="event-date" />
            </div>
            <div class="form-group">
                <label for="event-location">Location:</label>
                <input class="form-input" type="text" id="event-location" name="event-location" />
            </div>
            <div class="form-group">
                <label>Dress Code:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="event-dress-code" id="dress-code-casual"
                        value="casual" checked>
                    <label class="form-check-label" for="dress-code-casual">Casual</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="event-dress-code" id="dress-code-formal"
                        value="formal">
                    <label class="form-check-label" for="dress-code-formal">Formal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="event-dress-code" id="dress-code-themed"
                        value="themed">
                    <label class="form-check-label" for="dress-code-themed">Themed</label>
                </div>
            </div>
            <div class="form-group" id="theme-name-group" style="display: none;">
                <label for="theme-name">Theme Name:</label>
                <input class="form-input" type="text" id="theme-name" name="theme-name" />
            </div>
            <div class="form-group">
                <label for="event-budget">Budget:</label>
                <input class="form-input" type="number" id="event-budget" name="event-budget" />
            </div>
            <div class="form-group">
                <label for="event-food">Food:</label>
                <textarea class="form-input" id="event-food" name="event-food"></textarea>
            </div>
            <div class="form-group">
                <label for="event-rentals">Rentals:</label>
                <textarea class="form-input" id="event-rentals" name="event-rentals"></textarea>
            </div>
            <div class="form-group">
                <label for="event-supplies">Supplies:</label>
                <textarea class="form-input" id="event-supplies" name="event-supplies"></textarea>
            </div>
            <div class="form-group">
                <label for="event-entertainment">Entertainment/Music:</label>
                <textarea class="form-input" id="event-entertainment" name="event-entertainment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{#if events.length}}
    <div class="col-md-6 event-list">
        <h3>Upcoming Events:</h3>

        {{#each events as |event|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
                <p>{{event.date}}</p>
                <p>{{event.location}}</p>
                <p>Dress Code: {{event.dress_code}}</p>
                {{#if event.theme_name}}
                <p>Theme: {{event.theme_name}}</p>
                {{/if}}
                <p>Budget: ${{event.budget}}</p>
                <p>Food: {{event.food}}</p>
                <p>Rentals: {{event.rentals}}</p>
                <p>Supplies: {{event.supplies}}</p>
                <p>Entertainment: {{event.entertainment}}</p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>